<div id="templatemo_wrapper">
    <div id="templatemo_header">
    
        <div id="site_title">
            <a href="#"><img src="images/food.png" style="width: 50px" alt="logo" /><span>Stir things up</span></a>
        </div> <!-- end of site_title -->
        
        <div id="templatemo_menu">
            <ul>
                <li><a href="#">{{currentUser.username}}</a></li>
                <li><a href="#">Add recipe</a></li>
              <li><a href="#">My recipes</a></li>
                <li class="last"><a href="#">Logout</a></li>
            </ul>       
        </div> <!-- end of templatemo_menu -->
    
    </div> <!-- end of header -->
    
    <div id="templatemo_main">
        
        <div id="templatemo_content">
            
            <!-- <div class="content_box">
                <h2>Pellentesque lobortis boas</h2>
                <div class="image_wrapper image_fr"><span></span><img src="images/templatemo_image_02.png" alt="image 2" /></div>
                <p>Nulla facilisi. Fusce fermentum arcu ut orc oate sfmentum interdum <a href="#">tmalesuada</a> dolor sod raese ant.</p>       
                <p>Nam ut ipsum et urna consectetur com liquan fors non urna vitae ante <a href="#">dignissim</a>.</p>
          </div>
            
          <div class="content_box">
            <h2>Vestibulum arcu augue</h2>
                <div class="image_wrapper image_fr"><span></span><img src="images/templatemo_image_01.png" alt="image 1" /></div>
                <p>Pellentesque lobortis bibendum tortor sit amet ant pellentesque. Nulla facilisi. <a href="#">Fusce ferme</a> ntarc fort condimentum interdum malesuada dolor soda am.</p>
                <p>Praesent consectetur gravida mauris ut cursu son Nam ut ipsum et urna consectetur <a href="#">commodo</a>.</p>
            <div class="cleaner"></div>
          </div> -->
            
        </div> <!-- end of content -->
        
    
        <div class="cleaner"></div>
    </div> <!-- end of main -->
    
     <div id="templatemo_footer">

        Copyright © 2017 <a href="#">Egle Libby</a> <!-- Credit: www.templatemo.com -->
    </div> <!-- end of templatemo_footer -->
    
</div> <!-- end of warpper -->
