
 
    <div class="templatemo_main">
        
        <div class="templatemo_content">
            
<div class="row">
<div class="col-sm-6 col-sm-offset-6">
  <div class="panel panel-default">
    <div class="panel-heading">Login</div>
    <div class="panel-body">

      <form action="/login" method="post">
        <div class="form-group">
          <input type="text" name="username" value="" placeholder="username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="password" value="" placeholder="password" class="form-control">
        </div>
        <button class="btn btn-default">Log In</button>
      </form>

    </div>

    <div class="panel-footer">
      <a href="/register">Or Sign Up</a>
    </div>
  </div>
</div>
</div> 
            
        </div> <!-- end of content -->
        
    
        <div class="cleaner"></div>
    </div> <!-- end of main -->