/*
CSS Credit: http://www.templatemo.com/
*/

/* 
Fruit Site Template 
http://www.templatemo.com/preview/templatemo_206_fruit_site 
*/
body {
  margin: 0px;
  padding: 0px;
  color: #625e5e;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  line-height: 1.5em; 
  background-color: #000;
  background-image: url(../images/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

a, a:link, a:visited { color: #333; text-decoration: underline; }
a:hover { color: #000; text-decoration: none; }

p { margin: 0px; padding: 0; }
img { border: none; }

ul { margin: 0; padding: 0; }
ul li { margin: 0; padding: 0; }

h1 { font-size: 34px; font-weight: normal; margin: 0 0 20px 0; padding: 5px 0; color: #9c6421; }
h2 { font-size: 24px; font-weight: normal; margin: 0 0 20px 0; padding: 5px 0; color: #000; }
h3 { font-size: 21px; font-weight: normal; margin: 0 0 15px 0; padding: 0; color: #000;}
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0 0 10px 0;  }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.hr_divider { background: url(../images/templatemo_hr_divider.jpg) bottom repeat-x; }

.float_l { float: left; }
.float_r { float: right; }

.image_wrapper {
  position: relative;
  display: block;
  width: 218px;
  height: 128px;
  padding: 9px;
}
.image_wrapper span {
  position: absolute;
  left: 0;
  top: 0;
  width: 236px;
  height: 144px;
  background: url(../images/templatemo_image_frame.png) no-repeat;
}
.image_fl { float: left; margin: 3px 20px 0 0; }
.image_fr { float: right; margin: 3px 0 0 20px; }

blockquote { font-style: italic; margin-left: 10px;}
cite { font-weight: bold; color:#3b3823; }
cite span { color: #696443; }
em { color: #e55822; }

.tmo_list { margin: 20px 0; padding: 0; list-style: none; }
.tmo_list li { background: url(../images/templatemo_list.png) no-repeat scroll 0 0px; margin: 0 0 20px; padding: 3px 0 3px 25px;  line-height: 1em; }
.tmo_list li a { color: #333; text-decoration: none; }
.tmo_list li a:hover { color: #d06802; text-decoration: none; }

.btn_more a {
  display: block;
  width: 85px;
  height: 27px;
  color: #5c460e;
  padding: 5px 3px 0 27px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: url(../images/templatemo_btn.png) no-repeat;
}

.btn_more a:hover, .btn_more a span:hover {
  color: #dca822;
  background: url(../images/templatemo_btn_hover.png) no-repeat; 
}

#templatemo_wrapper {
  width: 900px;
  padding: 100px 20px 0;
  margin: 0 auto;
}

#templatemo_header {
  width: 860px;
  height: 115px;
  padding: 0 30px;
  background: url(../images/templatemo_header.png) no-repeat;
}

#site_title {
  float: left;
  width: 350px;
  margin: 35px 0 0 0;
  text-align: center;
}

#site_title a {
  margin: 0px;
  padding: 0px;
  font-size: 36px;
  color: #252b2d;
  font-weight: bold;
  text-decoration: none;
}

#site_title a span {
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: normal;
  margin-top: 5px;
  letter-spacing: 5px;
}
/* menu */

#templatemo_menu {
  float: right;
  width: 450px;
  height: 90px;
  padding: 12px 20px;
  background: url(../images/templatemo_menu.jpg) no-repeat;
}

#templatemo_menu ul {
  float: right;
  margin: 8px 0 0 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

#templatemo_menu ul li {
  float: left;
  height: 82px;
  padding: 0 10px;
  margin: 0;
  display: inline-block;
  background: url(../images/templatemo_menu_divider.png) no-repeat bottom right;
}

#templatemo_menu ul .last { background: none; }

#templatemo_menu ul li a {
  float: left;
  display: block;
  height: 42px;
  font-size: 14px;
  padding: 40px 10px 0;
  color: #fff;  
  text-decoration: none;
  font-weight: normal;
  text-align: center;
  outline: none;
  
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
  background: url(../images/templatemo_menu_hover.png) no-repeat center bottom;
}

/* end of menu */

/* main */

#templatemo_main {
  clear: both;
  width: 840px;
  padding: 40px 30px;
  background: #fff url(../images/templatemo_main.png) no-repeat top;
}

#templatemo_content {
  width: 100%;
}

#templatemo_content p {
  margin-bottom: 20px;
}

.content_box {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.cb_last {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
/* end of main */

/* footer */

#templatemo_footer  {
  width: 840px;
  height: 136px;
  padding: 30px;
  text-align: center;
  color: #161616;
/*  text-shadow: 0px 1px 1px #FFFFFF; */
  background: url(../images/templatemo_footer.png) no-repeat;
}

#templatemo_footer a {
  text-decoration: none;
  color: #161616;
}

#templatemo_footer a:hover {
  color: #990000;
}

/* end of footer */